/* Author:sandeep */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */

}

body{
    background-image: url("../images/travel.jpg");
}
.bd{
    width: 450px;

}